body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-image: url(../images/cave-01.png);
  background-size: cover;
  color: white;
}

div.card {
  background-color: transparent;
}

img {
  width: 15%;
  height: auto;
}

nav.navbar {
  color: white; 
  background-color: transparent;
}

@media screen and (max-width: 1024px){
  img {
    width: 25%;
    height: auto;
  }
}
